[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub --ssl-key=/etc/ssl/private/jupyterhub.pem --ssl-cert=/etc/ssl/certs/jupyterhub.crt

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
